<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Phishing Detection ML</title>
  <link rel="stylesheet" href="style.css">
  <link rel="icon" href="asset/img1.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>

<body>
  <section class="firstpage">
    <h1>PHISHING DETECTION USING ML</h1>
  <div class="container">
    <div class="name">
    
  
  </div>
<form action="backend/app.py" method="POST" class="content">
  <div class="search">
    <label for="url"></label>
    <input id="url" type="url" name="url" placeholder="Enter the URL" required>
  </div>

  <input class="submit" type="submit" value="Submit">
</form>

  
  <div class="contact">
    <div class="contact2"><h2>Any Queries</h2>
</div>
    <div class="link">
   <ul class="social-networks spin-icon">
  <li>
    <a href="https://github.com/codraja06/phishing_detection_ML-" class="icon-github" target="_blank"></a>
  </li>
  <li>
    <a href="https://codwolf-7c928.web.app/" class="icon-portfolio" target="_blank"></a>
  </li>
  </div>
</div>
  </section>
</body>
<footer>
    <p>codwolf@phishingdetectionML</p>
 

</footer>

</html>